*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: ariel, sans-serif;
    font-size: 16px;
    line-height: 1.7em;
    background-color: rgb(247, 246, 238);

}

.modal{
    display: none;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.modal-inside{
    background-color: white;
    margin: 20% auto;
    width: 40%;
    height: 20%;
    box-shadow: 0 5px 0 0 rgba(0,0,0,0,2), 
    0 7px 20px 0 rgba(0,0,0,0.2)

}

.closebtn{
    font-size: 20px;
    font-weight: bold;
    display: block;
    background-color: rgb(250, 224, 192);
    padding-right: 10px;
    float: right;
    cursor: pointer;
}
.modal-content h2{
    text-align: center;
    padding-top: 10px;
    background-color: rgb(250, 224, 192);
}

.modal-content p{
    margin-top: 20px;
    text-align: center;
}

body.modal-open {
    overflow: hidden;
}

.logo h2{
    padding-top: 20px;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url('../img/workstation.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    background-position-y: -400px;
    height: 300px;
    width: 100%;

}
.nav{
    margin-right: 50px;
}

.logo{
    margin-left: 50px;
}
.nav ul{
    list-style: none;
    display: flex;
    float: right;
}

.nav li{
    padding: 10px; 
}

.nav a{
    text-decoration: none; 
    color: white;
}

.nav a:hover{
    color: black;
}
.headercontent{
    grid-column-start: 1;
    grid-column-end: 3;
}

.headercontent p{
    color: white;
    font-size: 40px;
    text-align: center;

}

.wrapper{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-gap: 20px;
    margin-top: 50px;
}

.content-card, .sidebar-card{
    background-color: #fff;
    box-shadow: 1px 2px 5px 1px rgb(121, 120, 120);
}

.content-card{
    margin-left: 30px;
    padding: 50px;
}

.content-card h2{
    margin-top: 3em;
    margin-bottom: 1em;
}

.content-card p{
    margin-top: 20px;
    margin-bottom: 3em;
}

.screenshot1{
    width: 700px;
    height: 450px;
    display: block;
    box-shadow: 1px 2px 5px 1px rgb(121, 120, 120);
}

.screenshot{
    width: 650px;
    height: 400px;
    display: block;
    opacity: 0;
    transition: 1s;
    box-shadow: 1px 2px 5px 1px rgb(121, 120, 120);
}

.sidebar-card{
    margin-right: 50px;
    padding: 20px;
    text-align: center;
}

.sidebar-card ul{
    list-style: none;
    margin-top: 20px;

}

.sidebar-card a{
    text-decoration: none;
    color: rgb(245, 203, 111);

}

.footer-wrapper{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    background-color: gray;
    height: 250px;

}

.sitelinks, .socialmedia, .otherinfo{
    padding: 50px;
}
.sitelinks ul{
    list-style: none;
}
.sitelinks a{
    text-decoration: none;
    color: black;
}

.socialmedia ul{
    list-style: none;
}
.socialmedia a{
    text-decoration: none;
    color: black;
}

.otherinfo ul{
    list-style: none;
}
.otherinfo a{
    text-decoration: none;
    color: black;
}

.signature{
    background-color: gray;
    text-align: center;
    padding-bottom: 10px;
}

@media only screen and (max-width: 1100px){
    .screenshot1{
        width: 500px;
        height: 300px;
        display: block;
        box-shadow: 1px 2px 5px 1px rgb(121, 120, 120);
    }
    
    .screenshot{
        width: 450px;
        height: 250px;
        display: block;
        box-shadow: 1px 2px 5px 1px rgb(121, 120, 120);
    }
}

@media only screen and (max-width: 950px){
    .header{
        background-position-y: -200px;
    }

    .wrapper{
        display: block;
        padding: 0px;
        margin: 0px;
    }

    .screenshot1{
        width: 300px;
        height: 150px;
        display: block;
        box-shadow: 1px 2px 5px 1px rgb(121, 120, 120);
        margin: auto;
    }
    
    .screenshot{
        width: 250px;
        height: 150px;
        display: block;
        box-shadow: 1px 2px 5px 1px rgb(121, 120, 120);
        margin: auto;
    }

    .content-card{
        margin-left: 0px;
        padding: 50px;
    }

    .sidebar-card{
        margin-right: 0px;
        padding: 20px;
        text-align: center;
    }
}

@media only screen and (max-width: 750px){
    .header{
        background-position-y: -30px;
        display: grid;
        grid-template-columns: 1fr;
    }

}